body {
	font-family: 'Open Sans', sans-serif;
}

p {
	font-size: 1.2rem;
	font-weight: 300;
	letter-spacing: 0.01rem;
	color: #525252;
}

h1 {
	font-weight: 700;
	color: #5dd1e4;
}

a, a:visited {
	color: #5dd1e4;
}

a:hover, a:active {
	color: #525252;
	text-decoration: none;
	transition: 0.3s ease-in;
}

span#bold {
	font-weight: 700;
}

.main {
	padding-top: 20vh;
	margin-right: 10vw;
	margin-left: 10vw;
}

.subMain {
	padding-top: 10vh;
	margin-right: 5vw;
	margin-left: 5vw;
}

div.main.container > p > a, div.main.container > p > span > a {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

div.main > p > a:hover, div.main.container > p > span > a:hover {
	border-bottom-color: #525252;
}

div.links > a {
	padding-right: 1.2rem;
	font-size: 1.1rem;
}

@media (min-width: 900px) {
	p#headline {
		font-size: 1.6rem;
		letter-spacing: 0.01rem;
	}

	.main {
		padding-top: 30vh;
		margin-right: 12vw;
		margin-left: 12vw;
	}
}