body {
	font-family: 'Poppins', sans-serif;
	background-color: #282C35;
	color: #f7f7f7;
	line-height: 1vh;
}

a, a:visited {
	text-decoration: none;
	color: #90C03E;
}

a:active, a:hover {
	color: #f7f7f7;
	text-decoration: underline;
	text-decoration-color: #90C03E;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-size: 4.4vw;
  letter-spacing: 0.03rem;
  font-weight: 300;
  text-align: center;
}

.social-media {
	line-height: 4vh;
	word-spacing: 3vw;
}

.test {
	max-width: 400px;
	text-align: center;
	line-height: 2rem;
}

@media only screen and (min-width: 600px) {
	.flex-container {
		font-size: 1.6rem;
	}

	.test {
		max-width: 600px;
		line-height: 2.6rem;
	}
}