body {
	font-family: 'Poppins', sans-serif;
	background-color: #282C35;
	color: #f7f7f7;
	line-height: 1vh;
}

a, a:visited {
	text-decoration: none;
	color: #7C7C7C;
}

a:active, a:hover {
	color: #f7f7f7;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-size: 4.4vw;
  letter-spacing: 0.03rem;
  font-weight: 300;
}

.social-media {
	line-height: 4vh;
	/*text-align: center;*/
	word-spacing: 3vw;
}

#red {
	color: #D85F4D;
}

#green {
	color: #90C03E;
}

#blue {
	color: #2D89D7;
}

@media only screen and (min-width: 900px ) {
	.flex-container {
		font-size: 1.6rem;
	}
}